html{
    min-width: 1122px;
    min-height: 1750px;
}

body{
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", "Arial", "sans-serif";
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;

    background-color: black;
    background-image: url("../img/background.jpg");
    background-position: top center;
    background-repeat: no-repeat;

    min-width: 1122px;
    min-height: 1750px;
}  

.body-catalog,
.body-catalog-item{
    color: #000000;

    background-color: #f8f5f2;
    background-image: url("../img/bg-columns.jpg");
    background-repeat: repeat;

}

.button{
    display: inline-block;
    padding: 10px 30px;
    margin-right: 16px;

    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background: #000000;
    border: none;
}

.button:hover,
.button:focus,
.button:active{
    background-color: #663d15;
}

.button.disabled,
.button:disabled{
    cursor: default;
    opacity: 0.5;
    background-color: #000000;
}

.button.button-active{
    color: #000000;

    background-color: #ffffff;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header{
    margin-bottom: 75px;
}

.body-catalog-item .main-header{
    margin-bottom: 55px;
}

.body-catalog .main-header{
    margin-bottom: 55px;
}

.main-header-logo{
    order: 2;

    width: 368px;
    height: 153px;
}

.header-logo{
    margin: auto 0;
    width: 111px;
    height: 24px;
}

.main-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.main-navigation-wrapper{
    width: 100%;
    margin-bottom: 60px;

    background-color: #000000;
}

.body-catalog-item .main-navigation-wrapper{
    width: 100%;
    margin-bottom: 0px;

    background-color: #000000;
}

.body-catalog .main-navigation-wrapper{
    width: 100%;
    margin-bottom: 0px;

    background-color: #000000;
}

.container{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-navigation-wrapper .container{
    display: flex;
    justify-content: space-between;
}

.site-navigation{
    display: flex;
    flex-wrap: wrap;
    width: 620px;
}

.user-navigation{
    display: flex;
    max-width: 140px;
}

.site-navigation,
.user-navigation{
    margin: 0px;
    padding: 0px;

    list-style-type: none;
}

.site-navigation a,
.user-navigation a{
    display: block;
    padding: 25px 20px;

    color: #ffffff;
}

.site-navigation-item:hover,
.site-navigation-item:focus,
.user-navigation:hover,
.user-navigation:focus{
    background-color: gray;
}

.user-navigation .login-link{
    position: relative;
    padding-left: 50px;
}

.site-navigation-current{
    position: relative;
}

.site-navigation-current a:not([href]){
    background-color: #000000;
}

.site-navigation-current::after{
    content: "";

    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;

    height: 5px;

    background-color: #ffffff;
}

.login-link::before{
    content: "";

    position: absolute;
    top: 27px;
    left: 25px;
    width: 16px;
    height: 18px;

    background-image: url("../img/login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before{
    opacity: 1;
}

.features{
    margin-bottom: 80px;
}

.features-list{
    display: flex;
    justify-content: space-between;

    margin: 0px;
    padding: 0px;

    list-style-type: none;
}

.feature-item{
    text-align: center;

    width: 300px;
}

.feature-item h3{
    position: relative;
    margin: 0;
    margin-bottom: 60px;

    font-size: 30px;
    line-height: 42px;
}

.feature-item h3::after{
    content: "";

    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -10px;
    
    width: 20px;
    height: 20px;

    background-color: #ffffff;

    transform: rotate(45deg);
}

.feature-item p{
    margin: 0 10px;
}

.index-columns{
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    margin-bottom: 35px;

    color: #000000;

    background-color: #f8f5f2;
    background-image:
        url("../img/line.png"),
        url("../img/bg-columns.jpg");
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;
}

.catalog-columns{
    display: flex;
    justify-content: space-between;
}

.index-columns h2{
    margin: 0;
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 42px;
}

.news{
    width: 380px;
}

.news-list{
    margin: 0;
    margin-bottom: 50px;
    padding: 0;

    list-style-type: none;
}

.news-item {
    margin-bottom: 25px;
    text-transform: none
}

.news-item p{
    margin: 0;
}

.gallery{
    width: 300;
}

.gallery-container{
    position: relative;

    height: 260px;
}

.gallery-content{
    height: 164px;
    margin: 0;

    background-color: #cccccc;
    border: 7px solid #ffffff
}

.gallery-content img{
    width: 286px;
    height: 164px;
}

.gallery-button{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;

    width: 140px;
    margin: 0;
}

.gallery-button-back{
    left: 0;
}

.gallery-button-next{
    right: 0;
}

.contacts{
    width: 380px;
}

.contacts p{
    margin: 0;
    margin-bottom: 25px;
}

.appointment{
    width: 300px;
}

.appointment-info{
    margin: 0;
    margin-bottom: 15px;
}

.appointment-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.appointment-item{
    width: 140px;
    margin: 0;
    margin-bottom: 10px;
}

.appointment-item label{
    display: block;
    margin-bottom: 9px;
    margin-left: 15px;
}

.appointment-item input{
    box-sizing: border-box;
    width: 140px;
    padding: 8px 15px 7px 8px;

    font: inherit;

    background-color: transparent;
    border: 2px solid #000000;
}

.appointment-item input:focus{
    border-color: #663d15;
}

.appointment .button{
    width: 100%;
    margin-top: 10px;
    margin-right: 0;
}

.product-photos{
    width: 470px;

    margin-right: 90px;
}

.product-photo-preview{
    display: flex;
    justify-content: space-between;

    width: 470px;
    min-height: 150px;

    margin: 0;
    padding: 0;
}

.product-photo-preview li{
    width: 140px;
    height: 150px;

    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.product-photo-preview img{
    height: 149px;
}

.product-photo-full{
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;

    width: 470px;
    height: 498px;

    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.product-info{
    width: 385px;
    min-height: 670px;
}

.head-product-info{
    display: flex;
    justify-content: space-between;
}

.product-article{
    color: #aba9a7;
    text-align: right;
}

.main-footer{
    margin-top: 65px;
    padding: 60px 0px 40px 0px;

    color: #ffffff;

    background-color: #000000;
    background-image: url("../img/bg-footer.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.main-footer .container{
    display: flex;
    justify-content: space-between;
}

.footer-contacts{
    width: 320px;
    margin: 0;
}

.footer-contacts a{
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus{
    text-decoration: none;
}

.footer-social{
    margin: 0px auto 0 80px;
    width: 145px;
    text-align: center;

}

.footer-social ul{
    display: flex;
    flex-wrap: wrap;
    width: 141px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;


    list-style-type: none; 
}

.footer-social b{
    display: block;
    margin-bottom: 15px;
}

.social-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;;

    background-color: #000000;
}

.social-button:hover,
.social-button:focus{
    background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path{
    fill: #000000;
}

.footer-copyright{
    width: 150;
    margin: 0;
    text-align: center;
}

.footer-copyright .button{ 
    display: block;
    margin-right: 0px;
}

.footer-copyright b{ 
    display: block;
    margin-bottom: 15px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus{
    color: #000000;

    background-color: #ffffff;
}

.login-form input:focus{
    border-color: #663d15;
}

.login-password-info{
    display: flex;
    flex: wrap;
    justify-content: space-between;
}

.login-checkbox{
    position: relative;

    padding-left: 30px;

    cursor: pointer;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator{
    position: absolute;
    top: 0;
    left: 0;

    width: 17px;
    height: 17px;

    border: 2px solid black;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator{
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
    content: "";

    position: absolute;
    top: 8px;
    left: 1px;

    width: 15px;
    height: 2px;

    background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
    transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
    transform: rotate(-45deg);
}

.login-checkbox:hover,
.login-checkbox:focus{
    color: #663d15;
}

.restore{
        text-decoration: underline;
    color: #000000;
}

.restore:hover,
.restore:focus{
    text-decoration: none;
}

.login-form .button{
    width: 100%;
    margin-right: 0;
}

main ul{
    list-style-type: none;
}

.breadcrumbs a,
.breadcrumbs a:visited,
.catalog-name-product:visited {
    color: #000000;
}

.catalog-columns{
    display: flex;
    justify-content: space-between;
}

.filters{
    width: 220px;
}

.filters legend{
    margin-bottom: 26px;
}

.filters fieldset:first-child{
    margin-bottom: 35px;
}

.filters ul{
    padding: 0;
    margin: 0;
}

.filter-option{
    padding-left: 45px;
    margin-bottom: 15px;
}

.filter-option label{
    position: relative;

    display: block;

    cursor: pointer;
    user-select: none;
}

.catalog{
    width: 700px;
}

.filter-input:hover + label,
.filter-input:focus + label,
.filter-input:checked + label{
    color: #663d15;
}

.filter-input-checkbox + label::before{
    content: "";
    position: absolute;
    left: -42px;
    top: 4px;

    width: 16px;
    height: 16px;

    border: 2px solid #000000;
}

.filter-input-checkbox:checked + label::after{
    content: "";

    position: absolute;
    top: 8px;
    left: -38px;

    width: 12px;
    height: 12px;

    background-image: url("../img/cross-catalog.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.filter-input-radio + label::before{
    content: "";

    position: absolute;
    left: -42px;
    top: 5px;

    width: 16px;
    height: 16px;

    border: 2px solid #000000;
    border-radius: 50%;
}

.filter-input-radio:checked + label::after{
    content: "";

    position: absolute;
    left: -36px;
    top: 11px;

    width: 8px;
    height: 8px;

    background-color: #000000;
    border-radius: 50%;
}

.filter-input:disabled + label{
    color: #000000;

    opacity: 0.5;
}

.catalog-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.catalog-item{
    position: relative;

    margin-bottom: 20px;
    margin-right: 20px;

    width: 220px;
    min-height: 285px;

    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.catalog-name-product h3{
    position: absolute;

    top: 172px;
    padding-left: 20px;
}

.catalog-name-product p{
    position: absolute;

    margin: 0;
}

.catalog-item .catalog-item-price{
    margin: 240px auto 10px;
}

.catalog-item:nth-child(3n){
    margin-right: 0px;
}

.catalog-item:hover{
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-text{
    margin-bottom: 40px;
}

.catalog-item-price{
    display: flex;
    margin-bottom: 60px;
    width: 185px;
    min-height: 45px;
}

.catalog-item-price b{
    display: block;
    box-sizing: border-box;
    padding: 13px 0;

    width: 110px;

    font-size: 14px;
    line-height: 18px;
    text-align: center;

    background-color: #e5e5e5;
}

.catalog-item-price .button{
    padding: 10px 18px;
    margin: 0;
}

.item-list{
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.item-list li{
    position: relative;
}

.item-list li::before{
    content: "";

    position: absolute;
    top: 50%;
    left: calc(0% - 15px);
    margin: -4px;

    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    
    background-color: #000000;
}

.pagination-list{
    display: flex;
    justify-content: space-between;

    width: 195px;

    padding: 0px;
    margin: 0px;
}

.pagination-list .button{
    box-sizing: border-box;

    padding: 8px 0;
    margin: 0;
    
    width: 44px;
    height: 44px;
}

.page-title{
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    font-size: 30px;
    line-height: 42px;
}

.catalog-category{
    text-transform: none;
}

.breadcrumbs{
    display: flex;

    padding: 0;
    margin: 0;
    margin-bottom: 55px;
}

.breadcrumbs li{
    position: relative;

    margin-right: 40px;
}

.breadcrumbs li:not(:last-child)::after{
    content: "";

    position: absolute;
    top: 50%;
    left: calc(100% + 20px);
    margin: -4px;

    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    
    background-color: #000000;
}

.breadcrumbs-current{
    color: #aba9a7;
}

.filters fieldset{
    padding: 0;
    margin: 0;
    margin-bottom: 30px;

    border: none;
}

fieldset legend,
.product-info h3{
    font-size: 24px;
    line-height: 30px;
}

.filter-maker,
.filter-group{
    font-size: 14px;
    line-height: 30px;
}

.modal{
    position: fixed;
    
    color: #000000;

    display: none;

    background-color: #f8f5f2;
    background-image: url("../img/bg-columns.jpg");
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    z-index: 5;
}

.modal h2{
    margin: 0;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 42px;
}

.modal-login{
    top: 120px;
    left: 50%;
    margin-left: -230px;

    width: 300px;
    padding: 50px 80px;
}

.modal-map{
    top: 50%;
    left: 50%;

    width: 766px;
    height: 561px;
    margin-top: -280px;
    margin-left: -390px;

    border: 7px solid white;
}

.modal-map p{
    margin: 0;
}

.modal-close{
    position: absolute;
    top: 0;
    right: -34px;

    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: transparent;
    border: 0;

    cursor: pointer;
}

.modal-close::before,
.modal-close::after{
    content: "";

    position: absolute;
    top: 4px;
    left: 00px;

    width: 20px;
    height: 3px;

    background-color: #d0d0d0;
}

.modal-close::before{
    transform: rotate(45deg);
}

.modal-close::after{
    transform: rotate(-45deg);
}

.modal-description{
    margin: 0;
    margin-bottom: 10px;
}

.login-form p{
    margin: 0;
    margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"]{
    box-sizing: border-box;
    width: 300px;
    padding: 10px 15px;
    padding-right: 40px;
    
    font: inherit;
    color: #000000;
    text-transform: uppercase;

    background-color: transparent;
    border: 2px solid #000000;
}

.login-icon-user{
    background-image: url("../img/user.svg");
    background-position: 270px center;
    background-repeat: no-repeat;
}

.login-icon-password{
    background-image: url("../img/lock.svg");
    background-position: 270px center;
    background-repeat: no-repeat;
}

.modal-overlay{
    position: fixed;
    display: none;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}
